In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [68]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [69]:
num_rows_train = train.shape[0]
num_rows_test = test.shape[0]
full = pd.concat([train,test])

In [70]:
full

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [71]:
full.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [72]:
full.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,1460.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737,180921.195890
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129975.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [73]:
full.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       486
LotArea             0
                 ...
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice        1459
Length: 81, dtype: int64

In [74]:
full = full.dropna(axis=1, how='any', thresh = train.shape[0]*0.6 )

In [75]:
full

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,11,2006,WD,Normal,NaN

In [76]:
full = full.fillna(full.mean())

C:\Users\hamza\AppData\Local\Temp\ipykernel_16604\2442492679.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  full = full.fillna(full.mean())

In [77]:
full = pd.get_dummies(full)

In [78]:
cov = full.corr()
features = [i for i in cov]
dropped = set() 
for i in range(len(features)) :
    for j in range(i+1,len(features)): #Avoid repetitions 
        f1=features[i]
        f2=features[j]
        if abs(cov[f1][f2]) > 0.9: #If the correlation between the features is > 0.9
            dropped.add(f1) #Add one of them to the set

full = full.drop(dropped, axis=1)

In [79]:
no_cor = [column for column in full if abs(full[column].corr(full["SalePrice"])) < 0.05]

full = full.drop(no_cor, axis=1)

In [80]:
full.shape

(2919, 148)

In [81]:
train = full.iloc[:num_rows_train]
test = full.iloc[num_rows_train:]

def outliers_iqr(ys):
    q_1, q_3 = np.percentile(ys, [25, 75]) 
    iqr = q_3 - q_1
    l_b = q_1 - (iqr * 1.5) 
    u_b = q_3 + (iqr * 1.5) 
    return np.where((ys > u_b) | (ys < l_b)) 

train_no_out = train 
for column in train:
    outliers = np.ndarray.tolist(outliers_iqr(train[column])[0]) 
    train_no_out = train.drop(outliers) 
train = train_no_out

In [82]:
test

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageCond_Fa,GarageCond_TA,PavedDrive_N,PavedDrive_P,PavedDrive_Y,SaleType_COD,SaleType_WD,SaleCondition_Abnorml,SaleCondition_Normal,SaleCondition_Partial
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,270.0,...,0,1,0,0,1,0,1,0,1,0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,406.0,...,0,1,0,0,1,0,1,0,1,0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,137.0,...,0,1,0,0,1,0,1,0,1,0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,324.0,...,0,1,0,0,1,0,1,0,1,0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,1017.0,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,4,7,1970,1970,0.0,0.0,546.0,...,0,0,0,0,1,0,1,0,1,0
1455,160,21.0,1894,4,5,1970,1970,0.0,252.0,294.0,...,0,1,0,0,1,0,1,1,0,0
1456,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,1,0,0,1,0,1,1,0,0
1457,85,62.0,10441,5,5,1992,1992,0.0,337.0,575.0,...,0,0,0,0,1,0,1,0,1,0
1458,60,74.0,9627,7,5,1993,1994,94.0,758.0,238.0,...,0,1,0,0,1,0,1,0,1,0

In [83]:
train

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageCond_Fa,GarageCond_TA,PavedDrive_N,PavedDrive_P,PavedDrive_Y,SaleType_COD,SaleType_WD,SaleCondition_Abnorml,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,150.0,...,0,1,0,0,1,0,1,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,284.0,...,0,1,0,0,1,0,1,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,434.0,...,0,1,0,0,1,0,1,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,540.0,...,0,1,0,0,1,0,1,1,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,490.0,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0.0,953.0,...,0,1,0,0,1,0,1,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790.0,589.0,...,0,1,0,0,1,0,1,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275.0,877.0,...,0,1,0,0,1,0,1,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49.0,0.0,...,0,1,0,0,1,0,1,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830.0,136.0,...,0,1,0,0,1,0,1,0,1,0

In [84]:
train_set = train.sample(frac = 0.6)
rest = train.drop(train_set.index)
test_set = rest.sample(frac = 0.5)
validation_set = rest.drop(test_set.index)

In [85]:
train_set_X = train_set.drop(['SalePrice'],axis = 1)
train_set_Y = train_set['SalePrice'].tolist()
test_set_X = test_set.drop(['SalePrice'],axis = 1)
test_set_Y = test_set['SalePrice'].tolist()
validation_set_X = validation_set.drop(['SalePrice'],axis = 1)
validation_set_Y = validation_set['SalePrice'].tolist()

In [86]:
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

model1 = LR().fit(train_set_X, train_set_Y)

Y_pred1 = model1.predict(validation_set_X)
print("Linear Regresssion")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred1))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred1))

Linear Regresssion
R2 Score:  0.8993634907739372
Mean Squarred Error:  561979756.212333

In [87]:
coef1 = pd.DataFrame(zip(train_set.columns, model1.coef_))
coef1['Abs'] = coef1.loc[:,1]**2
coef1 = coef1.sort_values(by=['Abs'],ascending = False)
coef1.head()

                       0             1           Abs
48    Neighborhood_NAmes  39835.015467  1.586828e+09
68      RoofMatl_CompShg  33026.099337  1.090723e+09
29             SalePrice -28227.237687  7.967769e+08
52   Neighborhood_Sawyer  27779.527690  7.717022e+08
53  Neighborhood_Somerst  26769.623514  7.166127e+08

In [88]:
from sklearn.linear_model import Lasso
model2 = Lasso(max_iter=10000)
model2.fit(train_set_X, train_set_Y)

Y_pred2 = model2.predict(validation_set_X)
print("Lasso Regresssion")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred2))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred2))

Lasso Regresssion
R2 Score:  0.8999923628450259
Mean Squarred Error:  558467975.2899115

In [89]:
coef2 = pd.DataFrame(zip(train_set.columns, model2.coef_))
coef2['Abs'] = coef2.loc[:,1]**2
coef2 = coef1.sort_values(by=['Abs'],ascending = False)
coef2.head()

                       0             1           Abs
48    Neighborhood_NAmes  39835.015467  1.586828e+09
68      RoofMatl_CompShg  33026.099337  1.090723e+09
29             SalePrice -28227.237687  7.967769e+08
52   Neighborhood_Sawyer  27779.527690  7.717022e+08
53  Neighborhood_Somerst  26769.623514  7.166127e+08

In [90]:
coef2.tail()

                        0         1        Abs
23             GarageArea -3.587904  12.873055
8              BsmtFinSF1 -0.747529   0.558800
2                 LotArea  0.475690   0.226281
7              MasVnrArea  0.236365   0.055868
146  SaleCondition_Normal  0.000000   0.000000

In [91]:
from sklearn.linear_model import Ridge
model3 = Ridge()
model3.fit(train_set_X, train_set_Y)

Y_pred3 = model3.predict(validation_set_X)
print("Ridge Regresssion")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred3))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred3))

Ridge Regresssion
R2 Score:  0.9011933742119341
Mean Squarred Error:  551761223.6311551

In [92]:
coef3 = pd.DataFrame(zip(train_set.columns, model3.coef_))
coef3['Abs'] = coef3.loc[:,1]**2
coef3 = coef3.sort_values(by=['Abs'],ascending = False)
coef3.head()

                       0             1           Abs
48    Neighborhood_NAmes  36294.750893  1.317309e+09
52   Neighborhood_Sawyer  23255.436634  5.408153e+08
53  Neighborhood_Somerst  22352.873927  4.996510e+08
29             SalePrice -21661.318306  4.692127e+08
68      RoofMatl_CompShg  20983.349988  4.403010e+08

In [93]:
coef3.tail()

                        0         1       Abs
7              MasVnrArea  2.792023  7.795390
8              BsmtFinSF1  1.573102  2.474651
23             GarageArea -1.508009  2.274090
2                 LotArea  0.475791  0.226377
146  SaleCondition_Normal  0.000000  0.000000

In [94]:
from sklearn.tree import DecisionTreeRegressor as DTR

model4 = DTR(random_state=0)
model4.fit(train_set_X, train_set_Y)

Y_pred4 = model4.predict(validation_set_X)
print("Decision Tree Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred4))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred4))

Decision Tree Regression
R2 Score:  0.7446899769374495
Mean Squarred Error:  1425715832.3820224

In [95]:
model4 = DTR(random_state=0,max_depth = 10)
model4.fit(train_set_X, train_set_Y)

Y_pred4 = model4.predict(validation_set_X)
print("Decision Tree Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred4))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred4))

Decision Tree Regression
R2 Score:  0.7297504229078433
Mean Squarred Error:  1509142085.8962367

In [96]:
from sklearn.ensemble import RandomForestRegressor as  RFR

model5 = RFR(random_state=0)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8684014511177068
Mean Squarred Error:  734879627.5578173

In [97]:
from sklearn.ensemble import RandomForestRegressor as  RFR

model5 = RFR(random_state=0, max_depth = 10)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8646966110882366
Mean Squarred Error:  755568392.6250795

In [98]:
model5 = RFR(random_state=0, max_depth = 20)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8693843243833563
Mean Squarred Error:  729391014.3053793

In [99]:
model5 = RFR(random_state=0, max_depth = 15)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8723086854535973
Mean Squarred Error:  713060641.4221226

In [100]:
model5 = RFR(random_state=0, max_depth = 5)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8424614563809416
Mean Squarred Error:  879735128.1154735

In [101]:
model5 = RFR(random_state=0, max_depth = 8)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8631235035562618
Mean Squarred Error:  764353023.5121577

In [102]:
model5 = RFR(random_state=0, max_depth = 12)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8664802603362531
Mean Squarred Error:  745608043.4707091

In [103]:
model5 = RFR(random_state=0, max_depth = 9)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8599479747603282
Mean Squarred Error:  782085980.5901424

In [104]:
model5 = RFR(random_state=0, max_depth = 11)
model5.fit(train_set_X, train_set_Y)

Y_pred5 = model5.predict(validation_set_X)
print("Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred5))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred5))

Random Forrest Regression
R2 Score:  0.8674578831556381
Mean Squarred Error:  740148750.0400176

In [105]:
from sklearn.neighbors import KNeighborsRegressor as KNR

model6 = KNR(n_neighbors=2)
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.488484684142094
Mean Squarred Error:  2856431077.7013106

In [106]:
model6 = KNR(n_neighbors=10)
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.5353728805958861
Mean Squarred Error:  2594595513.1037083

In [107]:
model6 = KNR(n_neighbors=20)
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.5052630884542517
Mean Squarred Error:  2762736218.47485

In [108]:
model6 = KNR(n_neighbors=2, weights = 'distance')
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.49212107692902374
Mean Squarred Error:  2836124539.3723583

In [109]:
model6 = KNR(n_neighbors=10, weights = 'distance')
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.5386985609501084
Mean Squarred Error:  2576024071.6946297

In [110]:
model6 = KNR(n_neighbors=20, weights = 'distance')
model6.fit(train_set_X, train_set_Y)

Y_pred6 = model6.predict(validation_set_X)
print("K Neighbors Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred6))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred6))

K Neighbors Regression
R2 Score:  0.519937027979257
Mean Squarred Error:  2680793223.6277943

In [111]:
'''
from sklearn.linear_model import LogisticRegression as LogR
from sklearn.preprocessing import StandardScaler as SS

scaler1 = SS()
scaler1.fit(train_set_X)
train_set_X_scaled = scaler1.transform(train_set_X)
scaler2 = SS()
scaler2.fit(validation_set_X)
validation_set_X_scaled = scaler2.transform(validation_set_X)


model7 = LogR(random_state=0, max_iter = 5000)
model7.fit(train_set_X_scaled, train_set_Y)

Y_pred7 = model7.predict(validation_set_X_scaled)
print("Logistic Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))
'''

'\nfrom sklearn.linear_model import LogisticRegression as LogR\nfrom sklearn.preprocessing import StandardScaler as SS\n\nscaler1 = SS()\nscaler1.fit(train_set_X)\ntrain_set_X_scaled = scaler1.transform(train_set_X)\nscaler2 = SS()\nscaler2.fit(validation_set_X)\nvalidation_set_X_scaled = scaler2.transform(validation_set_X)\n\n\nmodel7 = LogR(random_state=0, max_iter = 5000)\nmodel7.fit(train_set_X_scaled, train_set_Y)\n\nY_pred7 = model7.predict(validation_set_X_scaled)\nprint("Logistic Regression")\nprint("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))\nprint("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))\n'

In [112]:
'''
scaler1 = SS()
scaler1.fit(train_set_X)
train_set_X_scaled = scaler1.transform(train_set_X)
scaler2 = SS()
scaler2.fit(validation_set_X)
validation_set_X_scaled = scaler2.transform(validation_set_X)


model7 = LogR(random_state=0, max_iter = 5000, penalty = 'none')
model7.fit(train_set_X_scaled, train_set_Y)

Y_pred7 = model7.predict(validation_set_X_scaled)
print("Logistic Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))
'''

'\nscaler1 = SS()\nscaler1.fit(train_set_X)\ntrain_set_X_scaled = scaler1.transform(train_set_X)\nscaler2 = SS()\nscaler2.fit(validation_set_X)\nvalidation_set_X_scaled = scaler2.transform(validation_set_X)\n\n\nmodel7 = LogR(random_state=0, max_iter = 5000, penalty = \'none\')\nmodel7.fit(train_set_X_scaled, train_set_Y)\n\nY_pred7 = model7.predict(validation_set_X_scaled)\nprint("Logistic Regression")\nprint("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))\nprint("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))\n'

In [113]:
'''
#takes a bit of time
scaler1 = SS()
scaler1.fit(train_set_X)
train_set_X_scaled = scaler1.transform(train_set_X)
scaler2 = SS()
scaler2.fit(validation_set_X)
validation_set_X_scaled = scaler2.transform(validation_set_X)


model7 = LogR(random_state=0, max_iter = 5000, solver = 'saga')
model7.fit(train_set_X_scaled, train_set_Y)

Y_pred7 = model7.predict(validation_set_X_scaled)
print("Logistic Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))
'''

'\n#takes a bit of time\nscaler1 = SS()\nscaler1.fit(train_set_X)\ntrain_set_X_scaled = scaler1.transform(train_set_X)\nscaler2 = SS()\nscaler2.fit(validation_set_X)\nvalidation_set_X_scaled = scaler2.transform(validation_set_X)\n\n\nmodel7 = LogR(random_state=0, max_iter = 5000, solver = \'saga\')\nmodel7.fit(train_set_X_scaled, train_set_Y)\n\nY_pred7 = model7.predict(validation_set_X_scaled)\nprint("Logistic Regression")\nprint("R2 Score: " ,r2_score(validation_set_Y, Y_pred7))\nprint("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred7))\n'

In [115]:
model = RFR(random_state=0, max_depth = 11)
model.fit(train_set_X, train_set_Y)

Y_pred = model.predict(validation_set_X)
print("Best: Random Forrest Regression")
print("R2 Score: " ,r2_score(validation_set_Y, Y_pred))
print("Mean Squarred Error: " ,mean_squared_error(validation_set_Y, Y_pred))

Best: Random Forrest Regression
R2 Score:  0.8674578831556381
Mean Squarred Error:  740148750.0400176

In [120]:
test = test.drop(['SalePrice'], axis = 1)

In [121]:
y = model.predict(test)

In [133]:
ID = list(range(1461,2920))

In [138]:
submission = pd.DataFrame({
        "Id": ID,
        "SalePrice": y
    })
submission.to_csv('submission.csv', index=False)

In [ ]:
coef4 = pd.DataFrame(zip(train_set.columns, model.feature_importances_))
coef4 = coef4.sort_values(coef4.columns[1],ascending = False)
coef_done = coef4.head(5)

plt.barh(coef_done[0], coef_done[1])

In [ ]:
# import shap library
import shap

# explain the model's predictions using SHAP
explainer = shap.TreeExplainer(model)
shap_values = explainer.shap_values(train_set_X)

# visualize the first prediction's explanation 
shap.initjs()
shap.force_plot(explainer.expected_value, shap_values[0,:], train_set_X.iloc[0,:])

In [ ]:
shap.summary_plot(shap_values, train_set_X)

In [ ]:
shap.summary_plot(shap_values, train_set_X, plot_type='bar', max_display = 5)

In [ ]:
shap_interaction = explainer.shap_interaction_values(train_set_X)
shap.summary_plot(shap_interaction, train_set_X)

In [ ]:
shap.plots.partial_dependence(
    "OverallQual", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "GrLivArea", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "BsmtFinSF1", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "TotalBsmtSF", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "GarageArea", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "1stFlrSF", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "LotArea", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "MasVnrArea", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)

In [ ]:
shap.plots.partial_dependence(
    "YearRemodAdd", model.predict, train_set_X, ice=True,
    model_expected_value=True, feature_expected_value=True
)